{% load static %}
<!DOCTYPE html>
    <!-- Coding by CodingLab | www.codinglabweb.com -->
    <html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Responsive Card Slider</title>

        <!-- Swiper CSS -->
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css">
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
    <link rel="stylesheet" type="text/css" href=" {% static '/css/home.css' %} ">
     <link rel="stylesheet" href="/static/css/profile-swiper-bundle.min.css">
        <link rel="stylesheet" href="/static/css/profile-swiper-bundle.min.css">
            <link rel="stylesheet" type="text/css" href=" {% static '/css/home.css' %} ">
        <!-- CSS -->
        <link rel="stylesheet" href="/static/css/profile-style.css">

    </head>
    <body>

      <body>
<div class="home-bar">

<nav id="nav-home">


<ul class="ul">
    <a href="{% url 'Logout' %}" name = 'Logout'>
        <button class="btn btn-outline-primary ms-3">Logout</button>
    </a>
        </ul>

    </nav>
</div><center><h1><font color ="white">Python Developer's</font></h1></center>
      <br><br><br>
        <div class="slide-container swiper">
            <div class="slide-content">
                <div class="card-wrapper swiper-wrapper">
                    <div class="card swiper-slide">
                        <div class="image-content">
                            <span class="overlay"></span>

                            <div class="card-image">
                                <img src="/static/img/abhi.jpeg" alt="" class="card-img">
                            </div>
                        </div>

                        <div class="card-content">
                            <h2 class="name"> Abhishek Shukla</h2>
                            <p class="description">I am a dedicated and skilled Freelance Web Developer with a strong background in web development, and I currently work at W.F.Y.  I offer a blend of technical expertise, creativity, and a results-driven approach to every project.
                           <a href="{% url 'after-profile' %}">
                                <button class="button swiper-no-swiping"><a href=" https://iabhi1703.github.io/baba/" >View More</a></button>
                           </a>
                        </div>
                    </div>
                    <div class="card swiper-slide">
                        <div class="image-content">
                            <span class="overlay"></span>

                            <div class="card-image">
                                <img src="/static/img/ss.jpeg" alt="" class="card-img">
                            </div>
                        </div>

                        <div class="card-content">
                            <h2 class="name">Sandhya Prajapati</h2>
                            <p class="description">I am a dedicated and skilled Freelance Web Developer with a strong background in web development, and I currently work at W.F.Y.  I offer a blend of technical expertise, creativity, and a results-driven approach to every project.
                            <a href="{% url 'after-profile' %}">
                                <button class="button swiper-no-swiping"><a href=" http://ram2021.pythonanywhere.com/">View More</a></button>
                           </a>
                        </div>
                    </div>
                    <div class="card swiper-slide">
                        <div class="image-content">
                            <span class="overlay"></span>

                            <div class="card-image">
                                <img src="/static/img/r.jpeg" alt="" class="card-img">
                            </div>
                        </div>

                        <div class="card-content">
                            <h2 class="name">Rahila</h2>
                            <p class="description">I am a dedicated and skilled Freelance Web Developer with a strong background in web development, and I currently work at W.F.Y.  I offer a blend of technical expertise, creativity, and a results-driven approach to every project.
                            <a href="{% url 'after-profile' %}">
                                <button class="button swiper-no-swiping"><a href="http://rahila7999.pythonanywhere.com/">View More</a></button>
                           </a>
                        </div>
                    </div>
                    <div class="card swiper-slide">
                        <div class="image-content">
                            <span class="overlay"></span>

                            <div class="card-image">
                                <img src="/static/img/im.jpeg" alt="" class="card-img">
                            </div>
                        </div>

                        <div class="card-content">
                            <h2 class="name">Imrana Khanam</h2>
                            <p class="description">I am a dedicated and skilled Freelance Web Developer with a strong background in web development, and I currently work at W.F.Y.  I offer a blend of technical expertise, creativity, and a results-driven approach to every project.
                            <a href="{% url 'after-profile' %}">
                                <button class="button swiper-no-swiping"><a href="https://immo1999.github.io/Khanam_CV/">View More</a></button>
                           </a>
                        </div>
                    </div>
                    <div class="card swiper-slide">
                        <div class="image-content">
                            <span class="overlay"></span>

                            <div class="card-image">
                                <img src="/static/img/monika.jpeg" alt="" class="card-img">
                            </div>
                        </div>

                        <div class="card-content">
                            <h2 class="name">Monika Pandey</h2>
                            <p class="description">I am a dedicated and skilled Freelance Web Developer with a strong background in web development, and I currently work at W.F.Y.  I offer a blend of technical expertise, creativity, and a results-driven approach to every project.
                            <a href="{% url 'after-profile' %}">
                                <button class="button swiper-no-swiping"><a href=" http://lbswatantra51.pythonanywhere.com/">View More</a></button>
                           </a>
                        </div>
                    </div>
                    <div class="card swiper-slide">
                        <div class="image-content">
                            <span class="overlay"></span>

                            <div class="card-image">
                                <img src="/static/img/anju.jpeg" alt="" class="card-img">
                            </div>
                        </div>

                        <div class="card-content">
                            <h2 class="name">Anju Luthra</h2>
                            <p class="description">I am a dedicated and skilled Freelance Web Developer with a strong background in web development, and I currently work at W.F.Y.  I offer a blend of technical expertise, creativity, and a results-driven approach to every project.
                            <a href="{% url 'after-profile' %}">
                                <button class="button swiper-no-swiping"><a href=" http://anjuluthra01.pythonanywhere.com/">View More</a></button>
                           </a>
                        </div>
                    </div>
                    <div class="card swiper-slide">
                        <div class="image-content">
                            <span class="overlay"></span>

                            <div class="card-image">
                                <img src="/static/img/archu.jpeg" alt="" class="card-img">
                            </div>
                        </div>

                        <div class="card-content">
                            <h2 class="name">Archana Yadav</h2>
                            <p class="description">I am a dedicated and skilled Freelance Web Developer with a strong background in web development, and I currently work at W.F.Y.  I offer a blend of technical expertise, creativity, and a results-driven approach to every project.</p>

                            <a href="{% url 'after-profile' %}">
                                <button class="button swiper-no-swiping"><a href=" http://yadavarchana5120015.pythonanywhere.com/">View More</a></button>
                           </a>
                        </div>
                    </div>
                    <div class="card swiper-slide">
                        <div class="image-content">
                            <span class="overlay"></span>

                            <div class="card-image">
                                <img src="/static/img/shivi.jpeg" alt="" class="card-img">
                            </div>
                        </div>

                        <div class="card-content">
                            <h2 class="name">Shivani</h2>
                            <p class="description">I am a dedicated and skilled Freelance Web Developer with a strong background in web development, and I currently work at W.F.Y.  I offer a blend of technical expertise, creativity, and a results-driven approach to every project.</p>
                            <a href="{% url 'after-profile' %}">
                                <button class="button swiper-no-swiping"><a href=" http://shivi.pythonanywhere.com/">View More</a></button>
                           </a>
                        </div>
                    </div>
                    <div class="card swiper-slide">
                        <div class="image-content">
                            <span class="overlay"></span>

                            <div class="card-image">
                                <img src="/static/img/kumkum.jpg" alt="" class="card-img">
                            </div>
                        </div>

                        <div class="card-content">
                            <h2 class="name">Kumkum Singh</h2>
                            <p class="description">I am a dedicated and skilled Freelance Web Developer with a strong background in web development, and I currently work at W.F.Y.  I offer a blend of technical expertise, creativity, and a results-driven approach to every project.</p>
                            <a href="{% url 'after-profile' %}">
                                <button class="button swiper-no-swiping"><a href="http://kumkum.pythonanywhere.com/ ">View More</a></button>
                           </a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
            <div class="swiper-button-next swiper-navBtn"></div>
           <div class="swiper-button-prev swiper-navBtn"></div>
          <!--  <div class="swiper-pagination"></div> -->
        </div>
        
    </body>

    <!-- Swiper JS -->
    <script src="/static/js/profile-swiper-bundle.min.js"></script>

    <!-- JavaScript -->
    <script src="/static/js/profile-script.js"></script>
</html>