<!doctype html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Glowing Neon Buttons</title>
  <link rel="stylesheet" href="/static/css/button-style.css">
</head>
<body>
  <div class="button-container">
  <div class="button-row">
    <a href="{% url 'profile' %}">
      <i></i>
      <i></i>
      <span>IT</span>
    </a>
    <a href="{% url 'profile' %}">
      <i></i>
      <i></i>
      <span>Sales</span>
    </a>
    <a href="{% url 'profile' %}">
      <i></i>
      <i></i>
      <span>Accounts</span>
    </a>
  </div>
  <div class="button-row">
    <a href="{% url 'profile' %}">
      <i></i>
      <i></i>
      <span>Button 1</span>
    </a>
    <a href="{% url 'profile' %}">
      <i></i>
      <i></i>
      <span>Button 2</span>
    </a>
    <a href="{% url 'profile' %}">
      <i></i>
      <i></i>
      <span>Button 3</span>
    </a>
  </div>
  <div class="button-row">
    <a href="{% url 'profile' %}">
      <i></i>
      <i></i>
      <span>Button 1</span>
    </a>
    <a href="{% url 'profile' %}">
      <i></i>
      <i></i>
      <span>Button 2</span>
    </a>
    <a href="{% url 'profile' %}">
      <i></i>
      <i></i>
      <span>Button 3</span>
    </a>
  </div>
  <div class="button-row">
    <a href="{% url 'profile' %}">
      <i></i>
      <i></i>
      <span>Button 1</span>
    </a>
    <a href="{% url 'profile' %}">
      <i></i>
      <i></i>
      <span>Button 2</span>
    </a>
    <a href="{% url 'profile' %}">
      <i></i>
      <i></i>
      <span>Button 3</span>
    </a>
  </div>
</div>
  <script src="/static/js/button-script.js"></script>
</body>
</html>
